.texture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 270px;
  }
  
  .containerRegistro {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;  
    flex-wrap: wrap; 
  }
  
  .containerEntidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .entidadeIcon {
    width: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .entidadeButton {
    border: none;
    width: 240px;
    height: 220px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .entidadeButton:hover {
    transform: translateY(-5px);
  }
  
  .consumidor,
  .coletora,
  .pessoaJuridica {
    font-size: 16px;
    text-align: center;
    color: #333;
    margin-bottom: 5px;
  }
  
  .descricao {
    text-align: center;
    margin: 15px;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }  