.container-home {
    margin-top: 80px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.banner-container {
    text-align: center;
    margin-bottom: 40px;
}

.pg1 h1 {
    font-size: 2.5em;
    color: #2E8B57; /* Verde */
}

.pg1 h2 {
    font-size: 1.8em;
    color: #4CAF50; /* Verde mais claro */
}

.pg1 h4 {
    font-size: 1.2em;
    margin-top: 10px;
}

.banner-home img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pg2-container, .pg3-container, .pg4-container {
    padding: 20px;
    text-align: center;
}

.pg2 h1, .pg3 h1, .pg4 h1 {
    font-size: 2em;
    color: #2E8B57;
}

.pg2 h2, .pg3 h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.pg3 ul, .pg4 .list {
    list-style-type: none;
    padding: 0;
}

.pg3 li, .pg4 li {
    margin: 10px 0;
    font-size: 1.1em;
}

.learn-more {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.learn-more a {
    color: white;
    text-decoration: none;
}

.learn-more:hover {
    background-color: #45a049;
}

/* Responsividade */
@media (max-width: 768px) {
    .pg1 h1 {
        font-size: 2em;
    }

    .pg1 h2 {
        font-size: 1.5em;
    }

    .pg2 h1, .pg3 h1, .pg4 h1 {
        font-size: 1.5em;
    }

    .learn-more {
        width: 100%;
    }
}