header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-family: "American Typewriter", serif;
    background-color: #20242d;
    height: 80px; 
    z-index: 10;
}

.logo-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-header img {
    max-height: 55px; 
}

.user-profile-picture img {
    max-height: 45px;
    border-radius: 100px;
}

.user-name {
    position: absolute;
    left: 74px; 
    color: white;
    font-size: 16px;
    white-space: nowrap;
}

nav {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
  
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
}

nav a:hover {
    text-decoration: underline;
    color: green;
}

.abas {
    background-color: transparent;
    font-size: 20px;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
}

span {
    font-size: 20px;
    color: white;
}