.containerUsuarios {
  margin-top: 80px;
}

.containerUsuarios h1 {
  font-family: monospace;
  color: black;
  font-size: 35px;
}

.containerEntidades {
  display: flex;
  justify-content: center;
}

.entidadeButton {
  width: 200px;
  height: 200px;
}

.entidadeButton img {
  width: 50px;
}

.entidadesDescricao {
  display: flex;
  flex-direction: row;
}